/*CSS destinado a página principal e a login.html*/

.sobre-nos{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex;
    padding: 1rem;
}
.imagem-sobre{
    height: 40rem;
}


#conteudo{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: gainsboro;
}

#conteudo h2{
    display: none;
}

 .sobre-conteudo{
    position: relative; 
    width: 32rem; 
    height: 42rem; 
    background: var(--greyLG);
    border-radius: 2rem; 
    margin: 4rem;
    overflow: hidden;
    text-align: center;
}

.sobre-conteudo .img-conteudo{
    position: relative; 
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-top: .5rem; 
    z-index: 1;
}

.sobre-conteudo .info-conteudo{
    position: absolute;
    font-size: 1.8rem; 
    color: aliceblue;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1rem;
    top: 65%;
    left: 25%;
}

.info-conteudo .buy{
    padding: 1rem;
    background-color: var(--redLG1);
    border-radius: 10rem;
    transition: .6s;
    border: .3rem solid transparent;
    

}
.info-conteudo .buy:hover{
    color: var(--redLG1);
    background: transparent;
    transition: .6s;
    border-color: var(--redLG1); 
}

footer{display: flex;
    align-items: center;
    justify-content:center;
    padding: .2rem;
    background: var(--redLG1);
    width: auto;
    flex-direction: column;
}
footer .icons{
    display: flex;
    align-items: center;
    justify-content: center;   
}
footer .icons i{
    margin: 1rem;
    font-size: 3rem;
}
.fa-facebook{
    color: blue;
}
.fa-linkedin{
    color: rgb(76, 114, 240);
}
.fa-instagram{
    color: #9c47fc;
    margin-left: 12px;
    background: -webkit-linear-gradient(#9c47fc, #c37f00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-youtube{
color: rgb(126, 15, 15);
}

/*Login.html*/

header a i{
    font-size: 3rem;
}

header ul .life a{
    font-size: 3rem;
}
.register-login{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
    background: black;
    height: 73.6rem;
}

.register form{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(14, 14, 14);
    box-shadow: .1rem .1rem .1rem .5rem rgba(50, 0, 0, 2);
    padding: 6rem;
    padding-bottom: 3rem;
}

.register form input{
    font-size: 2.5rem;
}

.register form label{
    font-size: 2.5rem;
    color: white;
}

.ou{
    position: relative;
    margin-left: 7%;
    margin-right: 10%;
    color: white;
    font-size: 3rem;
}
form{
}

.registrar{
    padding: 1.2rem;
    background: black;
    color: gray;
    border-radius: 1rem;
    margin: 1rem;
    transition: .5s
}
.registrar:hover{
    box-shadow: 0 0 .2rem blue,
    0 0 .5rem blue,
    0 0 .5rem blue; 
    transition-delay: 0.5s; 
    transition: .5s;
}
.registrar.e:hover{
    box-shadow: 0 0 .2rem var(--redLG1),
    0 0 .5rem var(--redLG1),
    0 0 .5rem var(--redLG1); 
}

.registrar.l:hover{
    box-shadow: 0 0 .2rem green,
    0 0 .5rem green,
    0 0 .5rem green; 
}